body {
    background-color: rgb(133, 128, 128);
}

.main {
    height: auto;
    width: auto;

}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 18px 18px;
}
img:hover {

}

img {
    width: 95%;
    height: 95%;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 12px 12px 12px black;
}

