body {
    background-color: rgb(146, 216, 146);

}

h1{
    text-align: center;
    color: white;
}

input {
    border: 2px dotted white;
    border-radius: 8px;
    box-shadow: 1px 1px 1px black;
    padding: 3px;
}

button {
    background-color: black;
    color: white;
    padding: 3px;
    border: 2px solid white;
    border-radius: 8px;
    box-shadow: 1px 1px 1px black;
}

.other-container {
    display: flex;
    flex-direction: column;
    font-size: 40px;
    width:350px;
    margin-left: 580px;
    margin-top: 25px;
    color: white;
  
}

.main-container {
  margin-left: 615px;

}