body {
    background-color: black;
}

h1 {
    text-align: center;
    color: red;
    text-shadow: 1px 1px 1px white;
    font-size: 45px;
}

h2 {
    color: white;
    text-shadow: 1px 1px 1px black;
}

img {
    border: 4px solid white;
    border-radius: 4px;
}


.main-container {
    text-align: center;
}

.other-container {
    margin: 30px;
    padding: 5px;
    text-align: center;
    background-color: crimson;
}