<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    
    <title>To Do List</title>
</head>
<body>
    <h1>To Do List</h1>
    <div class="add-container">
        <input class="entry" id="user-list" type="text" placeholder="enter item here">
        <button class="submit-button">add</button>
    </div>

    <div class="update-container">
        <input id="update-user-id" type="text" placeholder="ID here">
        <input id="user-item" type="text" placeholder="update item">
        <button class="update-button">update</button>
    </div>

    <div class="delete-container">
        <input id="delete-user-id" type="text" placeholder="ID here">
        <button class="delete-button">delete</button>
    </div>

    <div class="view-container">
        <button class="view-button">view</button>
    </div>



<div class="other-container">
    <h3>Read Items:</h3>
</div>
    
</body>

<script src="todoDom.js"></script>
</html>