.navbar-brand {
    font-family: fantasy;
    font-size: 30px;
    font-weight:800;
}

.about {
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    font-size: 20px;
    padding: 15px;
    color: white;
    text-align: center;
    border-bottom: 1px solid black;
}

.main-container {
    text-align: center;
}


.banner {
    background-image: url(https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
    background-size: cover;
    height: 500px;
    display: flex;
}



.grid-container {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 1px 20px;
}

.paragraph {
    color: white;
    font-family:fantasy;
    font-size: 70px;
    margin: 15px;
}

.div1, .div2, .div3 {
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    color: white;
    margin: 5px;
    border-radius: 3px;
    border-bottom: 1px solid black;
    height: 35px;
}

.div4, .div5, .div6 {
    margin: 5px;
    padding: 10px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.paragraph {
    animation: transitionIn 8s;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

h1 {
    margin-top: 30px;
}

@media (max-width: 730px) {
    .div1, .div2, .div3, 
    .div4, .div5, .div6 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }

    .grid-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

}