.image-one, .image-two, .image-three, 
.image-four, .image-five, .image-six, .image-seven,
 .image-eight, .image-nine, .image-ten, .image-eleven,
  .image-twelve, .image-thirteen, .image-fourteen,
  .image-fifteen, .image-sixteen, .image-seventeen, 
  .image-eighteen, .image-nineteen, .image-twenty{
    height: 325px;
    width: 200px;
    margin-bottom: 15px;
    border: 2px solid black;
    border-radius: 4px;
    box-shadow: 5px 5px 5px rgb(78, 78, 78);
}

.header-one, .header-two, .header-three, 
.header-four, .header-five, .header-six, 
.header-seven, .header-eight, .header-nine, .header-ten,
.header-eleven, .header-twelve, .header-thirteen,
.header-fourteen, .header-fifteen, .header-sixteen, 
.header-seventeen, .header-eighteen, .header-nineteen, 
.header-twenty {
    font-size: 10px;
}


h2 {
    font-size: 20px;
    padding: 15px;
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    color: white;
    text-align: center;
    border-bottom: 1px solid black;
}

.container {
    margin-top: 15px;
}

.grid, .grid-two, .grid-three, .grid-four {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 50px;
}

.secondary-header {
    margin-top: 15px;
}

.child-header, .new-titles {
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
}


@media (max-width: 1200px){

    .grid , .grid-two, .grid-three, .grid-four {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
       
    }
    
}

@media (max-width: 995px) {
    .grid , .grid-two, .grid-three, .grid-four {
    display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 20px;
    }

}

@media (max-width: 536px) {
    .grid, .grid-two, .grid-three, .grid-four {
        display: grid;
        grid-template-columns: repeat(1, 1fr); 
        text-align: center;
    }
} 