.image-one, .image-two, .image-three, 
.image-four, .image-five, .image-six, .image-seven,
 .image-eight, .image-nine, .image-ten, .image-eleven,
  .image-twelve {
    height: 325px;
    width: 200px;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 4px;
    box-shadow: 5px 5px 5px rgb(78, 78, 78);
}

.header-one, .header-two, .header-three, 
.header-four, .header-five, .header-six, 
.header-seven, .header-eight, .header-nine, .header-ten,
.header-eleven, .header-twelve {
    font-size: 10px;
}

h2 {
    padding: 15px;
    background-color: rgb(88, 86, 90);
    color: white;
    text-align: center;
    box-shadow: 3px 3px 3px black;
}

.container {
    margin-top: 15px;
    display: grid;
    gap: 10px 10px;
}

.secondary-header {
    margin-top: 15px;
}