.image-one, .image-two, .image-three, 
.image-four, .image-five, .image-six, .image-seven,
 .image-eight{
    height: 325px;
    width: 200px;
    border: 2px solid black;
    border-radius: 4px;
    box-shadow: 5px 5px 5px black;
}

.header-one, .header-two, .header-three, 
.header-four, .header-five, .header-six, 
.header-seven, .header-eight {
    font-size: 10px;
}

h2 {
    padding: 15px;
    background-color: rgb(88, 86, 90);
    color: white;
    text-align: center;
    box-shadow: 3px 3px 3px black;
}

.container {
    margin-top: 15px;
    display: grid;
    grid-row-gap: 5px;
}

.secondary-header {
    margin-top: 15px;
}