.main-container {
    margin-top: 25px;
    text-align: center;
}

.content-container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 15px 5px;
    padding: 15px;
   
   
}

.second-container {
    text-align: center;
}

.main-header {
    padding: 15px;
    background-color: rgb(88, 86, 90);
    color: white;
    text-align: center;
    box-shadow: 3px 3px 3px black;
}

img {
    height: 250px;
    width: 150px;
    border: 2px solid black;

}

 h2 {
    text-align: center;
    margin-top: 25px;
}

h6 {
    display: inline;
}