.main-container {
    margin-top: 25px;
    text-align: center;
}

.second-container {
    text-align: center;
}

.main-header {
    padding: 15px;
    background-color: rgb(88, 86, 90);
    color: white;
    text-align: center;
    box-shadow: 3px 3px 3px black;
}

 h2 {
    text-align: center;
    margin-top: 25px;
}