body {
    background-color: rgb(144, 223, 247);
}

h1 {
    color: white;
    font-size: 45px;
    text-align: center;
}

h2 {
    color: white;
    font-size: 50px;
    text-align: center;
    text-shadow: 4px 4px 4px black;
}

input {
    color: black;
    background-color: rgb(211, 205, 205);
    border: 1px solid black;
    border-radius: 4px;
}

button {
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 4px;
}

input, button {
    display: inline;
    padding: 4px;
}

.entry {
    text-align: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-left: 380px;
}

.other-container {

}
