body {
    background-color: rgb(144, 223, 247);
}

h1 {
    color: white;
    font-size: 45px;
    text-align: center;
}

h2 {
    color: rgb(252, 60, 2);
    font-size: 50px;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    text-shadow: 2px 2px 2px black;
}

input {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(211, 205, 205);
    border: 1px solid black;
    border-radius: 4px;
}

button {
    background-color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    border: 2px solid black;
    border-radius: 4px;
}

input, button {
    display: inline;
    padding: 4px;
}

.entry {
    text-align: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-left: 380px;
}

