.sign-up {
    background-color:#f2f2f2;
    margin: 20px;
    padding: 10px;
    border-radius: 4px;
    
}

.email {
 display: grid;
 grid-template-columns: repeat(1, 1fr) ;
 margin-left: 23px;

}

input {
    font-family: Georgia, 'Times New Roman', Times, serif;
    outline: ;
    background: #f2f2f2;
    width: 40%;
    margin: 8px;
    padding: 8px;
    font-size: 14px;
    border-bottom: 2px solid black;
    border-top: 1px solid #f2f2f2;
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #f2f2f2;
    
}

button {
    color: #E9EAE0;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    outline: 0;
    height: 20px;
    width: 150px;
    border: 0;
    padding: 5px;
    background: #615e5e;
    font-size: 10px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 5px 5px 5px gray;
    margin-bottom: 10px;
    margin-top: 20px;
}

@media (max-width: 600px) {
    .email  {
       
    
    }
}
