body {
    background-color: rgb(34, 30, 30);
}

button {
    float: right;
    margin-top: 15px;
    margin-right: 10px;
}

h1 {
    color: white;
}

.button-1 {
    background-color: red;
    color: white;
    border: none;

}

.button-2 {
    background-color: black;
    color: white;
    border: 1px solid rgb(78, 76, 76);

}

.header {
    background-color: black;
    box-shadow: 5px 5px 5px black;

}

.logo {
    height: 50px;
    width: 100px;
}

