.div-one {
    text-align: center;
}

.div-two {
    text-align: center;
    padding: 15px;
    background-color: burlywood;
    border: 2px solid black;
    height: 535px;
    width: 400px;
    border-radius: 5px;
}

.image {
    height: 250px;
    width: 400px;
    border: 2px solid black;
    border-radius: 5px;
}

.button {
    color: white;
    padding: 8px;
    width: 200px;
    border-radius: 200px;
    border: 2px solid black;
    background-color: rgb(102, 60, 60);
    box-shadow: 5px 5px 5px rgb(36, 35, 35);
}